<div class="login">
    <div class="container">
        <form class="box-login" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <label class="col-3">Tài khoản</label>
                        <input type="text" ngModel name="username" class="form-control col-9" placeholder="" >
                      </div>
                      <div class="form-group row">
                        <label class="col-3" for="">Mật khẩu</label>
                        <input type="password" ngModel name="password" class="form-control col-9" placeholder="" >
                      </div>
                </div>
                <div class="col-3 btn-login">
                    <button class="btn">Đăng nhập</button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .box-login{
    position: absolute;
    width: 60%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-login button{
    color: white;
    width: 90%;
    margin-left: 20px;
    height: 90px;
    text-align: center;
    background-color: #4a93e6;
}

.login{
    background-image: url(https://img.freepik.com/free-vector/gradient-geometric-shape-background_78532-307.jpg?size=626&ext=jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>